.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
    max-width: 300px;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-details {
    padding: 20px;
    text-align: center;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project-technologies {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.project-links {
    margin-top: 10px;
}

.project-links a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
}

.project-links a:hover {
    text-decoration: underline;
}
