.portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    height: 100vh;
    /* padding: 20px; */
}

.portfolio-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* .project-description{
    max-height: 60px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin: 10px 0;
} */

/* .project-description p{
    margin: 0;
} */

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}
